<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.backend5_1_multi_fc.review.mapper.ReviewMapper">

    <insert id="insert"
            parameterType="com.multi.backend5_1_multi_fc.review.dto.ReviewCreateReq"
            useGeneratedKeys="true"
            keyProperty="reviewId">
        INSERT INTO Review
            (stadium_id, user_id, rating, content)
        VALUES
            (#{stadiumId}, #{userId}, #{rating}, #{content})
    </insert>

</mapper>